.home-page header {
    position: relative; 
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}



#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 9%;
}	

#welcome {
    font-size: 50px;
    margin-bottom: 20px; 
}

.btn-menu {
    margin-top: 20px; 
}

.logo-restaurant {
    height: auto;
    max-width: 100%;
}

header h1 {
    font-size: 5rem;
}

.home-page header h1,
.home-page header h2 {
    text-shadow: 2px 2px 8px #ffffff;
}

.menu-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../utils/img/menu-img.png);
    background-size: cover;
    background-position: center;
}

#find-us{
    background: linear-gradient(62deg, #474747 10%, #000000 100%);
}

.about-us{
    background-color: aqua;
    padding: 4%
}

@media only screen and (max-width: 768px) {
    header h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 576px) {
    header h1 {
        font-size: 3rem;
    }
}

@media (max-width: 576px) {
    #welcome {
        font-size: 35px; 
    }
}

.img-fluid {
    height: 1%;
    width: 80%;
}

